# Ignore my direnv setup
.envrc
.direnv
.tool-versions

# Ignore Terraform plugin/module cache and state
.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfstate.d

# Ignore any local terraform variable assignments
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# Ignore local Gemfile lock and bundler config
.bundle
Gemfile.lock

# kitchen-terraform and test results
.kitchen
test/ephemeral
test/reports/*
!test/reports/.gitkeep
test/setup/*-ssh*
test/setup/harness.tfvars
